@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Movie</h2>
<h2>@Model.Name</h2>
<ul>
    <li>
        Ganre: @Model.Ganre.Name
    </li>
    <li>
        Release Date: @Model.Ganre.ReleaseDate
    </li>
    <li>
        DateAdded: @Model.Ganre.DateAdded
    </li>
    <li>
        Number: @Model.Ganre.Number
    </li>
</ul>
